@media screen and (max-width:427px) {
    .currency {
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .header_1 {
        background-color: #FEEB9D;
        height: 50px;
        width: auto;
    }

    .media-shop {
        display: block;
    }

    .media-shop-icon {
        word-spacing: 6px;
    }

    .media-shop-icon>i {
        border-radius: 10px;
        height: 37px;
        width: 44px;
        background-color: white;
        text-align: center;
        padding-top: 10px;
        font-size: 30px;
    }

    .media-shop-icon :last-child {
        background-color: #FEEB9D;
        border: 1px solid black;
    }

    .choose,
    .contact,
    .header_2,
    .img-area1,
    .offer-row {
        display: none;
    }

    .border1 {
        height: 30px;
        width: 20px;
        border: 2px solid black;
    }

    .offer {
        flex-direction: column;
    }

    .offer1 {
        text-align: center;
    }

    .offer1>span {
        font-size: 18px;
    }

    .offer1>h1 {
        font-size: 35px;
    }

    .offer1>p {
        font-size: 16px;
    }

    .j-img {
        height: 420px;
        width: 100%;
    }

    .design-img {
        height: 480px;
        width: 402px;
        left: 12px;
    }

    .container {
        flex-direction: column;
        height: 460px;
        width: auto;
        padding: 26px 70px 26px 70px;
    }

    .container_out {

        padding: 105px 20px 105px 20px;
    }

    .offer {
        padding: 80px 30px 80px 30px;
    }

    .img-area {
        flex-direction: column;
        padding: 30px 10px 30px 10px;
        gap: 40px;
    }

    .img_area {
        height: 487px;
        width: 371px;
    }

    .img-button {
        top: 31pc;
        left: 157px;
        width: 130px;
    }

    .img-button1 {
        top: 64pc;
        left: 157px;
        width: 130px;
    }

    .img-button2 {
        top: 97pc;
        left: 157px;
        width: 130px;
    }

    .img-button3 {
        top: 130pc;
        left: 157px;
        width: 133px;
    }

    .img-button4 {
        top: 163pc;
        left: 157px;
        width: 133px;
    }

    .img-button5 {
        top: 197pc;
        left: 157px;
        width: 133px;
    }

    .row {
        flex-direction: column;
        padding: 30px 10px 30px 10px;
    }

    .row-contain,
    .row-contain-1 {
        height: 400px;
        width: 345px;
    }

    .cov-line-row,
    .cov-line {
        height: 50px;
        left: -23pc;
    }

    .row1-img img {
        height: 26pc;
        width: 24pc;
    }

    .collection1 {
        flex-direction: column;
        align-items: center;
    }

    .collection2 {
        padding-top: 20px;
    }

    .coll-row-1:hover {
        background-color: rgb(47, 47, 97);
        color: white;

    }

    .coll-row {
        gap: 11px;
        height: 28px;
        width: 377px;

        justify-content: space-between;
    }

    .coll-row-1 {
        height: 25px;
        padding: 2px;
    }

    .collection2 span {
        justify-content: center;
    }

    .add-card,
    .add-card2,
    .foot-main,
    .foot-main2 {
        flex-direction: column;
    }

    .off-collection img {
        height: 490px;
        width: 333px;

    }

    .card-show {
        left: 90px;
        bottom: 95px;
    }

    .process-coll {
        flex-direction: column;
    }

    .process-1 {
        height: 195px;
        width: auto;
    }

    .pro-search {
        justify-content: space-between;
    }

    .footer-content-1 img {
        height: 127px;
        width: 258px;
    }

    .foot-shape {
        display: block;
        text-align: center;
        padding-bottom: 30px;
    }

    .footer-content-1,
    .footer-content-2,
    .footer-content-3,
    .footer-content-4 {
        width: 300px;
    }

    a {
        font-size: 18px;
    }

    .foot-main {
        padding: 0px 33px 55px 33px;
    }
}

@media only screen and (min-width: 426px) and (max-width: 769px) {
    .header_1 {
        background-color: #FEEB9D;
        height: 50px;
        width: auto;
        justify-content: space-between;
    }

    .media-shop {
        display: block;
    }

    .media-shop-icon>i {
        border-radius: 10px;
        height: 42px;
        width: 50px;
        background-color: white;
        text-align: center;
        padding-top: 10px;
        font-size: 30px;
    }

    .media-shop-icon {
        word-spacing: 20px;
    }

    .media-shop-icon :last-child {
        background-color: #FEEB9D;
        border: 1px solid black;
    }

    .choose,
    .contact,
    .header_2,
    .img-area1 {
        display: none;
    }

    .offer {
        flex-direction: column;
        padding: 108px 30px 108px 40px;
        gap: 7px;
    }

    .offer1>h1 {
        margin-right: 243px;
    }

    .currency {
        padding: 50px 30px;
    }

    .j-img {
        height: 600px;
        margin-left: 117px;
    }

    .design-img {
        right: 131px;
        height: 660px;
        width: 519px;
    }

    .container_out {
        padding: 83px 30px;
    }

    .container {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 36px;
        align-items: stretch;
        height: 192px;
        justify-content: center;
    }

    .img-area {
        gap: 40px;
        padding-top: 79px;
        padding-left: 30px;
        flex-wrap: wrap;
    }

    .img_area {
        height: 411px;
        width: 333px;
    }

    .img-button {
        bottom: 55pc;
        width: 130px;
        left: 137px;
    }

    .img-button1 {
        bottom: 55pc;
        width: 130px;
        left: 512px;
    }

    .img-button2 {
        bottom: 27pc;
        width: 130px;
        left: 153px;
    }

    .img-button3 {
        bottom: 27pc;
        width: 130px;
        left: 514px;
    }

    .img-button4 {
        width: 130px;
        left: 8pc;
    }

    .img-button5 {
        width: 130px;
        left: 32pc;
    }

    .row {
        flex-direction: column;
        padding: 120px 42px;
        gap: 41px;
    }

    .row1-img img {
        width: 299px;
        height: 345px;
    }

    .row-contain,
    .row-contain-1 {
        height: 315px;
        width: auto;
    }

    .collection1 {
        flex-wrap: wrap;
        justify-content: center;
       
    }

    .collection2>span,
    h2 {
        padding-bottom: 30px;

    }

    .add-card {
        flex-wrap: wrap;

    }

    .off-collection img {
        width: 305px;
    }

    .card-show {
        left: 69px;
    }

    .process-1 {
        width: 315px;
    }

    .process-coll,
    .add-card2 {
        flex-wrap: wrap;

    }

    .add-card2 {
        justify-content: center;
    }


    .off-collection1 img {
        width: 300px;
    }

    .footer-content-1 img {
        height: 127px;
        width: 258px;
    }

    .foot-shape {
        display: block;
        text-align: center;
        padding-bottom: 30px;
    }

    .foot-main {
        padding-top: 110;
        flex-wrap: wrap;
        align-items: center;
        gap: 38px;
    }

    .footer-content-1,
    .footer-content-2,
    .footer-content-3,
    .footer-content-4 {
        width: 332px;
    }

    .foot-main2 {
        flex-direction: column;
        gap: 30px;
    }

    a {
        font-size: 19px;
    }

    .pro-search {
        justify-content: space-between;
        padding-right: 20px;
    }



    .container1 {
        height: 65px;
        width: 305px;
    }
}